html, body {
    background-color: #e5f6d5;
    font: normal 20px 'Georgia', serif; /* Ensure base font is set */
    line-height: 1.3;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
  }  
  
  h1 {
    margin-top: 0.5em;
  }
  
  a {
    color: orangered;
  }
  
  img {
    max-width: 100%;
  }
  
  .float-left {
    float: left;
  }
  
  .content {
    overflow: auto; /* Contains floating elements within the container */
  }
  
  .site-header {
    text-align: center;
    margin: 1em 0 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc;
    font: normal 16px 'Helvetica', sans-serif;
    text-transform: uppercase;
  }
  
  .site-header a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .site-menu li {
    display: inline-block;
    margin-right: 1em;
  }
  
  .site-menu li:last-child {
    margin-right: 0;
  }
  
  .breadcrumb, .footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .section-slug, .byline {
    color: #666;
    font: bold 16px 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
 
  .bordered {
    border: 2px solid #000; /* Adds a solid black border around the image */
}

.float-left {
    float: left; /* Makes the image float to the left */
    margin-right: 10px; /* Adds space between the image and the text */
    margin-bottom: 10px; /* Adds space below the image if the text is longer than the image */
}


  main {
    display: flex;             /* Use flexbox to allow easy centering */
    flex-direction: column;    /* Stack child elements vertically */
    justify-content: center;   /* Center content vertically within the container */
    align-items: center;       /* Center content horizontally within the container */
    text-align: center;        /* Center text within any text elements */
    height: 100vh;             /* Set the height of the main element to full viewport height */
    padding: 20px;             /* Standard padding */
    margin: auto;              /* Auto margins for horizontal centering if needed */
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;    /* Include padding and border in the element's total width and height */
}
  
  @media only screen and (min-width: 45em) {
    main {
      border-bottom: none;
    }
  }
  
  .subtitle, figcaption, .byline {
    font: normal 14px 'Helvetica', sans-serif;
  }
  
  .other, footer {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    padding: 2em 0;
    line-height: 1.2;
  }
  
  address {
    font-style: normal;
  }
  